@media(max-width:948px){
  /*Banner style*/
  .jumbotron .text-1{
    font-size: 40px;
  }
  .jumbotron  .lead{
    font-size: 90%;
  }
  /*-----------------------------*/
  .header{
    font-size: 25px;
  }
  .Body-container{
    margin-bottom: 15%;
  }
}

@media(max-width:426px){
  /*Banner style*/
  .jumbotron .text-1{
    font-size: 40px;
  }
  .jumbotron  .lead{
    font-size: 90%;
  }
  /*-----------------------------*/
  .Body-container{
    margin-bottom: 60%;
  }
}
@media(max-width:376px){
  /*Banner style*/
  .jumbotron .text-1{
    font-size: 40px;
  }
  .jumbotron  .lead{
    font-size: 90%;
  }
  /*-----------------------------*/
  .Body-container{
    margin-bottom: 75%;
  }
  .header{
    font-size: 15px;
  }
}
